.resizeEdgeContainer {
	display: flex;
	flex-grow: inherit;
	position: absolute;
	justify-content: center;
}

.resizeTitlebar {
	border: 2px solid black;
	background: linear-gradient(45deg, rgb(61 61 180) 0%, rgb(255 95 60) 100%);
	display: flex;
	cursor: move;
}

.resizeWindow {
	display: flex;
	flex-direction: column;
	position: absolute;
}

.resizeWindowCenter {
	display: flex;
	height: inherit;
}

.resizeWindowVisibleContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.resizeWindowContentContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(45deg, rgba(15, 15, 45, 0.55) 0%, rgba(63, 25, 15, 0.55) 100%);

	box-shadow: inset 0px 0px 0px 1px black;
}