@import './../components/NodeWindow/NodeControl.module.scss';

.sidebar {
	background-color: #0b0928c0;
	backdrop-filter: blur(4px);
	color: #8ba1b7;

	user-select: none;
}

.sidebarContainer {
	@extend .sidebar;
	display: flex;
	flex-direction: column;
	height: 100%;

	background: linear-gradient(75deg, rgb(30 30 90) 0%, rgb(127 47 30) 100%);
}

.disableColor {
	&:disabled{
		color: #3e5e7e;
	}
}

.icon {
	@extend .disableColor;
	color: '#59d0ff';
}

.sidebarMenu {
	@extend .disableColor;
	color: #082440;

	&:hover {
		background-color: #00458b;
		color: #777777;
	}
}

.sidebarFooter {
	width: 50%;
	min-width: 64px;
	height: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
	border-radius: 4px;
	color: white;
	background: linear-gradient(45deg, rgb(61 61 180) 0%, rgb(255 95 60) 100%);

	&:hover {
		background: linear-gradient(45deg, rgb(80 80 200) 0%, rgb(255 87 61) 100%);
		cursor: pointer;
	}
}

.sidebarHeader {
	height: 64px;
	min-height: 64px;
	display: flex;
	align-items: center;
	padding: 0 20px;
  
	margin-bottom: 24px;
	margin-top: 16px;
  
	> div {
	  width: 100%;
	  overflow: hidden;
	}
}

.headerLogo {
	width: 35px;
	min-width: 35px;
	height: 35px;
	min-height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: white;
	font-size: 24px;
	font-weight: 700;
	background-color: #009fdb;
	background: linear-gradient(45deg, rgb(61 61 180) 0%, rgb(255 95 60) 100%);
	margin-right: 10px;
	margin-left: 4px;

	user-select: none;
}

.defaultText {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;

	font-family: 'Monocraft';
}

.legalText {
	@extend .defaultText;
	font-size: 12px;
	font-weight: 400;
	color: #8ba1b7;
}

.subtitle {
	@extend .defaultText;
	font-size: 20px; 
	line-height: 30px;
	font-weight: 700;
}

.bodyText {
	@extend .defaultText;
	font-size: 12px; 
	line-height: 18px;
	font-weight: 600;
}

.badge {
	min-width: 18px;
	min-height: 18px;
	display: flex;
	justify-content: center;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 600;
	margin: 0 8px;
	padding: 0px 0px 1px 0px;
	background-color: #fb3939;
	color: #eee;

	user-select: none;
}

.sidebarMainSection {
	user-select: none;
	flex: 1;
	margin-bottom: 32px;
}

.sidebarObject {
	border-right-width: 2px;
	border-color: #00254b;
	border-right: solid;
	user-select: none;

	cursor: default;
}

.sidebarObject > div {
	overflow-y: visible;
	overflow-x: visible;
}

.sidebarBackground {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	object-position: center;
	z-index: -1;
	left: 0;
	top: 0;
}

.subMenuHeader {
	background-color: #00000000;
}

.subMenu1 {
	user-select: none;
	
	// color:#00000000
	// background-color: #000000c0;
}

.submenuBox > div {
	background: linear-gradient(135deg, rgb(30 30 90) 0%, rgb(127 47 30) 100%);
}

.submenuEntry {
	color: #fff;
	text-shadow: 2px 2px 2px #000;

	border-top: 1px solid #444444dd;

	height: 50px;

	&:hover {
		color: #000;

	}
}

.mainMenuButton {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.mainMenuButton > div > ul {
	overflow-y: hidden;
}

/* \/ uncomment if you change overflow-y above to scroll \/ */

/*
.mainMenuButton > div > ul::-webkit-scrollbar {
	display: none;
}
*/

.mainMenuButton > div {
	border: 2px solid black;
}

.filenameField {
	@extend .generalControl;

	height: 28px;
	width: 120px;
	
	margin-top: 0px;

	font-size: 16px;

	text-shadow: 1px 1px 1px #000;
}

.filenameFieldNonEditable {
	@extend .filenameField;

	color: #eee;
	background-color: #00000000;

	&:hover
	{
		box-shadow: none;
		background-color: #00000000;

		user-select: none;
	}
}