
.nodeWindowTitle
{
	width: 100%;
	height: 100%;
	display: flex;

	align-self: center;
	margin-left: 8px;
	margin-top: 24px;

	text-shadow: black 2px 2px 4px;

	color: #f7f7f7;

	user-select: none;
}

.addButtonField
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.addButton{
	
	margin-top: 16px;

	width: 50%;
	height: 32px;

	background-color: #00000066;
	color: #eee;

	border-radius: 4px;

	user-select: none;
}

.searchBar
{
	width: 50%;
	height: 24px;

	padding: 0px;

	margin-top: 16px;

	background-color: #00000066;
	color: #eee;

	border-radius: 4px;
}

.addMenu
{
	position: absolute;
	top: 80px;

	width: 50%;
	min-height: 32px;
	height: fit-content;
	overflow-y: auto;
	max-height: 256px;
	background-color: #000000aa;

	margin-bottom: 32px;

	&::-webkit-scrollbar
	{
		display: none;
	}
}

.addMenuList
{
	width: 100%;
	padding-inline-start: 0px;
	margin-block-start: 0;
	margin-block-end: 0;
}

.menuOption
{
	width: 100%;
	height: 32px;

	display: flex;
	align-items: center;

	color: #eee;
	
	&:nth-child(odd)
	{
		background-color: #44444466;
	}

	&:hover
	{
		background-color: #88888888;
	}

}

.selectedMenuOption
{
	@extend .menuOption;

	background-color: #88888888;
	
	// just for overriding the &:nth-child(odd) selector in .menuOption
	&:nth-child(odd)
	{
		background-color: #88888888;
	}

	&:hover
	{
		background-color: #88888888;
	}
}

.menuOptionText
{
	margin-left: 16px;
}