.wholeAppContainer {
  display: flex;
  flex-direction: row;
  height: 100%;

  background-color: #013d7901;
  backdrop-filter: blur(4px);

  overflow: hidden;

  pointer-events: visible;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.mainContainer {
  display: flex;
  height: 100%;
  width: 100%;

  overflow: hidden;
  position: absolute;
}
