.appBgContainer {
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wholeAppBg {
	background-image: url('../../../public/pengtile_fl.png');
	background-repeat: repeat;
	top: -200%;
	left: -200%;
	width: 800%;
	height: 800%;
	position: absolute;
}